{% extends 'base.html' %}

<!-- title -->
{% block title %} Leads List {% endblock %}

<!-- content -->
{% block content %}
<div class="py-6 px-6">
  <h2 class="mb-4 text-xl">Leads List</h2>
  <div class="mt-6 py-4 flex justify-between">
    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Lead Name</p>
    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Priority</p>
    <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Status</p>
  </div>
  {% for lead in leads %}
  <div class="flex justify-between">
    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{lead.name}}</p>
    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
      {{lead.get_priority_display}}
    </p>
    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
      {{lead.get_status_display}}
    </p>
  </div>
  {% endfor %}
  <a
    href="{% url 'leads:add' %}"
    class="mt-4 inline-block text-white py-2 px-6 bg-teal-700 rounded-xl"
    >Add Leads</a
  >
</div>
{% endblock %}
